name: Publish Docker image

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: 'ledyba-z'
          password: ${{ secrets.GH_ACTION_GHCR_TOKEN_LEDYBA_Z }}
      - name: Build and push
        uses: docker/build-push-action@v2
        id: docker_build
        with:
          context: .
          push: true
          tags: ghcr.io/link-u/mrtg_exporter:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
